<!DOCTYPE HTML>
<html lang = "en">
  <head>
    <meta charset = "utf-8"/>
  </head>
    <body>
<!-- Start of Scrolling JS -->
    <script>
  var keys = {37: 1, 38: 1, 39: 1, 40: 1};
  disableScroll();
  var body = document.body,
    html = document.documentElement;

var height = Math.max( body.scrollHeight, body.offsetHeight,
                       html.clientHeight, html.scrollHeight, html.offsetHeight );
  function preventDefault(e) {
  e = e || window.event;
  if (e.preventDefault)
      e.preventDefault();
      e.returnValue = false;
  }
  function pageScrollUp(){
    setTimeout(window.scrollBy(0,-1*height),100);
  }
  function pageScroll(jsondb) {
    let buttonSelected = false;
    for(var program in jsondb) {
        if(document.getElementById(jsondb[program]["name"]).classList.contains('active')){
          buttonSelected = true;
          break;
        }
    }
        if (buttonSelected) {
            setTimeout(window.scrollBy(0,height),100);
            uploadRemoveColor(jsondb);
        }
        else{
          alert("No file selected to run.");
        }


  }
  function preventDefaultForScrollKeys(e) {
    if (keys[e.keyCode]) {
        preventDefault(e);
        return false;
    }
  }

  function disableScroll() {
    if (window.addEventListener) // older FF
      window.addEventListener('DOMMouseScroll', preventDefault, false);
      window.onwheel = preventDefault; // modern standard
      window.onmousewheel = document.onmousewheel = preventDefault; // older browsers, IE
      window.ontouchmove  = preventDefault; // mobile
      document.onkeydown  = preventDefaultForScrollKeys;
  }
  </script>

<!-- Eanble Scrolling Button -->

<!-- Console Div -->

<div class = "absolute">
    <a href = "#" class = "button2" onclick = "pageScrollUp();" id = "Back">exit</a>
  <ul class="console">
      <li>Interactive console</li>
      <li> TYpED STUFF</li>
      <li>LiNe TwO</li>
      <li id = "output"> >>> </li>
  </ul>
  <div class="cursor">
  >>> <input type="text" class="rq-form-element" style="background: black; color: white; font-family: monospace; padding: 1ex; caret-shape: underscore;"/>
  <i></i>
  </div>

</div>

<!-- Arrow Div -->



<!-- Enable Scrolling On Button Click -->

  <script type = "text/javascript">

function changeColor(buttonID, jsondb){
          document.getElementById(buttonID).classList.add('active');
          for (var program in jsondb) {
            if (jsondb[program]["name"] != buttonID) {
              document.getElementById(jsondb[program]["name"]).classList.remove('active');
            }
          }
}

    function runProgram(jsondb){
          for (var program in jsondb) {

            if (document.getElementById(jsondb[program]["name"]).classList.contains("active")) {
              var xmlhttp = new XMLHttpRequest();
              xmlhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                  document.getElementById("upload").innerHTML = this.responseText;
                }
              };
              xmlhttp.open("POST", "run", true);
              xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
              var data = new FormData();
              xmlhttp.send("program=" + jsondb[program]["name"] + "&" + "input=" + document.getElementById("input").value);
            }
          }
     }

    function uploadRemoveColor(jsondb){
          for (var program in jsondb) {
            document.getElementById(jsondb[program]["name"]).classList.remove('active');
          }
    }
      </script>
<!-- Auto Scrolling -->
<!-- End of Scrolling JS -->

        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css')}}">
        <h1 class = "toptitle">External Code Runner</h1>
      <hr class = "topline">


        {% for program in db %}
          <a href = "#" class = "button1" onclick = 'changeColor("{{program["name"]}}", {{jsondb}})' id = '{{program["name"]}}' style = 'margin:5%;'> {{program["name"]}} </a>
        {% endfor %}
        <br>
        <input class = "text", id = "input">
        <br>
        <a href = "#" class = "button1" onclick ="runProgram({{jsondb}})" id = "upload">RUN</a>

      </div>
    </body>
</html>
