/* NOTE: #343233 is the brown background color */
/* NOTE: #efdab9 is the manila title color */
/* NOTE: #ffd152 is the yellow side bar color */

/* SIDE TAB NAVIGATION */

#mySidenav a {
  position: absolute;
  left: -80px;
  transition: 0.3s;
  padding: 15px;
  width: 100px;
  text-decoration: none;
  font-size: 20px;
  color:#ffd152;
  border-radius: 0 5px 5px 0;
  font-family: 'Roboto',sans-serif;
}

#mySidenav a:hover {
  left: 0;
  color: #343233;
}

#home {
  top: 10.6%;
  background-color: #ffd152;
}

#about {
  top: 19%;
  background-color: #ffd152;
}

#contact {
  top: 27.4%;
  background-color: #ffd152
}

/* END SIDE TAB NAVIGATION */

body{
  background-color: #343233;
}

html{
  scroll-behavior: smooth;
  overflow-y:hidden;
}

/* VERTICAL LINE ON TOP */

.topline{
    display: block;
    height: 12px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
    border-color: #FFFFFF;
}

/* END VERTICAL LINE ON TOP */

/* TITLE OF WEBSITE */

.toptitle{
  font-weight: 300;
  text-align:center;
  color: #efdab9;
  font-family:'Roboto', sans-serif;
}

/* BUTTONS DIV */

.buttons{
  text-align:center;
}

/* END BUTTONS DIV */

/* JS ACTIVE CLASS */

.active{
  color:#000000;
  background-color:#FFFFFF;
}

/* END JS ACTIVE CLASS */

/* MAIN BUTTONS IN .BUTTONS DIV*/

a.button1{
  display:inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #FFFFFF;
  MARGIN: 0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family: 'Roboto', sans-serif;
  font-weight:300;
  color:#efdab9;
  text-align:center;
  transition: all 0.2em;
}

a.button1:hover{
  color:#000000;
  background-color:#FFFFFF;
}

@media all and (max-width:30em){
  a.button1{
    display:inline-block;
    margin: 0.4em auto;
  }
}

/* END MAIN BUTTONS */

/* START OF CONSOLE DIV */

div.absolute {
  color:white;
  position: absolute;
  background-color: #22252B;
  width: 80%;
  height: 300px;
  bottom: -70%;
  left: 8%;
  padding: 0px;
  margin: 20px;
  border-style: solid;
  border-width: 5px;
  border-color: #22252B;
  box-shadow: 0px 8px 16px 0px #1E2025;
}

ul.console{
  list-style-type:none;
  color:white;
  font-family: 'Roboto',"Lucida Console", "Times New Roman", sans-serif;
/* END OF CONSOLE DIV */
}

/* START OF UP ARROW DIV */

.button2{
  background-color: #22252B;
  color: #EEF1F6;
}

/* START OF INPUT TAG CSS*/

.cursor {
	width: 100%;
	position: absolute;
	top: 50%;
	left: 10%
  background-color: #22252B;
  color: #22252B;
  font-family: monospace;
  border: none;
  padding: 0ex;
}

#block {
	position: absolute;
	width: 6px;
	height: 80%;
	background-color: gray;
	left: .6%;
	top: 10%;
	animation-name: blink;
	animation-duration: 800ms;
	animation-iteration-count: infinite;
	opacity: 10;
}

input[type="text"] {
    left: 8%;
    width: 95%;
		font-family: monospace;
		font-size: 14px;
		caret-color: #22252B;
    background-color: #22252B;
    color: white;
    border: none;
    input:focus {
    outline: none;
}
}

@keyframes blink {
	from { opacity: 10; }
	to { opacity: 0; }
}
